<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Onepic</h1>
        <h2>Life Moments</h2>
    </div>
    <hr>

    Here is your post:<br>
    <img width="50%" src="<%= urlPic %>"><br>
    <p><%= post %></p>
    <hr>




<%- include('bootfooter') -%>
